html, body {
    height: 100%;
}

body {
    /* padding-top: -60px; */
    color: #222;
    font-family: 'roboto', sans-serif;
    font-size: 16px;
}

.post-meta ul {
    padding-left: 0px;
}

.post-meta li {
    display: inline;
    margin-right: 25px;
}

.post-meta i {
    margin-right: 8px;
}

article header {
    margin-bottom: 24px;
}

article h1 {
    margin-bottom: 15px;
    font-family: 'Droid Serif', serif;
    font-weight: 700;
}

article .content {
    margin-bottom: 24px;
}

article .content p {
    line-height: 1.5;
    margin-bottom: 2em;
}

article .content ul {
    margin-bottom: 2em;
}

article footer {
    margin-bottom: 30px;
}

hr {
    background: url(../images/bg_off.png) repeat;
    content: "";
    margin: 35px 0px;
    height: 5px;
}

footer section h3 {
  color: #fff;
  margin: 0 0 25px;
}

.footer {
  background: #25292C;
  color: #888;
  line-height: 30px;
  padding: 15px;
}

.social-networks li {
  margin-right: 7px;
  background-color: #fff;
  border-radius: 100% 100% 100% 100%;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.6);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.6);
  display: inline-block;
  height: 2em;
  width: 2em;
  text-align: center;
  background: #fff;
  -webkit-transition: background .5s ease-in-out;
  -moz-transition: background .5s ease-in-out;
  -o-transition: background .5s ease-in-out;
  -ms-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
  margin-top: 2px;
}

.social-networks {
  line-height: 2em;
  margin-bottom: 0;
  padding-left: 0;
  bottom: 20px;
  position: absolute;
}

.social-networks i {
  color: #666;
  width: 100%;
  height: 100%;
  -webkit-transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  -ms-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

.social-networks i:hover {
  color: #fff;
}

.social-networks li.twitter:hover {
  background: #0488cd;
}

.social-networks li.linkedin:hover {
  background: #069;
}

.social-networks li.rss:hover {
  background: #f60;
}

.social-networks li.email:hover {
  background: #ea4c89;
}

.social-networks li.github:hover {
  background: #444;
}

.navbar-inverse {
  background-color: #25292c;
  -webkit-box-shadow: 0 3px 3px -3px rgba(0,0,0,0.2);
  border: 0;
  box-shadow: 0 3px 3px -3px rgba(0,0,0,0.2);
}

.navbar-brand, .navbar-nav li a, .navbar-toggle {
    line-height: 60px;
    height: 60px;
    padding-top: 0px;
}

.navbar {
    border-radius: 0;
}

.cover-top {
  background: #323B44;
  border-bottom: 1px solid #414f5a;
  color: #A1A1A1;
  line-height: 2.5;
}

.cover-top a {
    font-size: 1.1em;
    padding: 10px;
    margin-bottom:0;
    background: #212528;
    margin-right: 10px;
    color: #680021;
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    -ms-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
}

.cover-top a:hover {
    color: #c40f30;
}

.cover-top quot {
    font-style: italic;
}

.cover {
    position: relative;
    font-family: 'Roboto';
    color: #fff;
    background-color: #25292c;    
    background-image: url('/images/cover.jpg');
    min-height: 250px;
}

.cover h1 {
    font-weight: 700;
    text-shadow: 2px 2px 5px #25292c;
}

.bio {
    margin-top: 1.5em;
}

.bio li {
    color: #fff;
    list-style-type: circle;
}

.bio li span {
    color: #a1a1a1;
}

.post-list {
    padding-left: 0;
}

.post-list li {
    list-style: none;
    border-bottom: 1px dotted #a1a1a1;
    line-height: 1.6em;
}

.post-list li time {
    float: right;
    color: #a1a1a1;
}