/* Pygments emacs style */
code {background-color: #f8f8f8; font-family: Inconsolata, Courier New}
code .c {color: #080; font-style: italic}
code .cp {font-style: normal}
code .cs {font-style: normal; font-weight: bold}
code .k {color: #a2f; font-weight: bold}
code .kp {font-weight: normal}
code .o {color: #666}
code .ow {color: #a2f; font-weight: bold}
code .nb {color: #a2f}
code .nf {color: #00a000}
code .nc {color: #00f}
code .nn {color: #00f; font-weight: bold}
code .ne {color: #d2413a; font-weight: bold}
code .nv {color: #b8860b}
code .nc {color: #800}
code .nl {color: #a0a000}
code .ne {color: #999; font-weight: bold}
code .na {color: #b44}
code .nt {color: #008000; font-weight: bold}
code .nd {color: #a2f}
code .s {color: #b44}
code .sx {color: #b44}
code .sd {font-style: italic}
code .si {color: #b68; font-weight: bold}
code .se {color: #b62; font-weight: bold}
code .sr {color: #b68}
code .ss {color: #b8860b}
code .so {color: #008000}
code .n {color: #666}