/* Body */
body {
    font-family: Droid Sans, Georgia, Arial;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    background-image: url("/images/bg.png");
    background-repeat: repeat-x;
}

/* Header */
header {
    position: relative;
    height: 91px;
}

header h1 {
    display: inline-block;
}

header #avatar {
    position: relative;
    top: 10px;
    display: inline-block;
}

header #separator {
    height: 50px;
    position: relative;
    display: inline-block;
    top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-left: 1px solid #fff;
    border-right: 1px solid #dfdfdf;

}

header #content {
    width: 950px;
}

header h1 a {
    text-decoration: none;
    font-family: Yanone Kaffeesatz; 
    font-size: 40px;
    color: #444;
}

/* Description */
.description {
    display: inline-block;
    width: 180px;
    text-align: left;
    color: #aaa;
}

/* Search button */
.search {
    position: absolute;
    left: 890px;
    top: 30%;
}

.search form {
    background-image: url("/images/th_search-bg.gif");
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: 0 0;
    background-color: transparent;
    vertical-align: baseline;
    display: block;
    background-size: auto auto;
    height: 24px;
    width: 158px;
    background-origin: padding-box;
    padding: 0;
}

.search #q {
    background-color: transparent;
    position: relative;
    border: none;
    left: 25px;
    font-size: 15px;
    width: 139px;
    vertical-align: baseline;
    text-align: start;
    display: inline;
    background-clip: border-box;
    margin: 0;
    padding: 0;
    width: 124px;
    top: 3.5px;
    outline: none;
}

/* Code Box */
pre code {
    border-color: #d8d8dc;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    background-color: #f2f2f5;
    display: block;
    box-shadow: 0 2px 4px #d8d8dc;
    padding: 5px;
}

/* Content */
.content {
    width: 950px;
    text-align: justify;
    color: #444;
    margin-left: auto;
    margin-right: auto;
}

.main {
    float: left;
    width: 650px;
    border-right: 1px dashed #d8d8dc;
    padding-right: 15px;
}
.sidebar {
    float: left;
    margin-left: 15px;
}

/* Article */
article {
    line-height: 1.5em;
}

article img {
    max-width: 650px;
    text-align: center;
}

/* Sidebar */
.sidebarbox ul {
    list-style: none;
}

a#feed-link {
    background-image: url("/images/rss.png");
    background-color: transparent;
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: left;
    background-clip: border-box;
    background-attachment: scroll;
    background-origin: padding-box;
    display: inline-block;
    background-size: auto auto;
}
