---
layout: main
title: Blog
---

<!-- latest posts -->
<p>
  <h2>Latest posts</h2>
  <ul class="post-list">
    {% for post in site.posts limit: 15 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <time>{{ post.date | date: "%b %d, %Y" }}</time>
    </li>
    {% endfor %}
  </ul>
  <a href="/archive.html">view all</a>
</p>
<!-- /latest posts -->

<!-- categories -->
<p>
  <h2>Popular Tags</h2>
  <ul class="post-list">
    {% capture tags %}
    {% for category in site.categories %}
    {{ category[-1] | size | plus: 1000 }}|{{category[0] }}
    {% endfor %}
    {% endcapture %}
    {% assign sortedtags = tags | split: ' ' | sort | reverse %}
    {% for tag in sortedtags | limit: 5 %}
    {% assign contents = tag | split: '|' %}
    <li>
      <a href="/categories.html#{{ contents[1] }}">{{ contents[1] | replace:'_', ' ' }}</a>
      <time>{{ contents[0] | minus: 1000 }}</time>
    </li>
    {% endfor %}
  </ul>
  <a href="/categories.html">view all</a>
</p>
    
