---
layout: default
---

<main class="frontpage">
  <div class="frontpage-featured">
    {% for post in paginator.posts %}
    <article class="frontpage-article">
      <h2>{{ post.title }}</h2>
      <h3>{{ post.date | date_to_string: "ordinal", "US" }}</h3>
      <p>{{post.excerpt}}</p>
      <div class="read-more">
        <a href="{{ post.url }}">Read More</a>
      </div>
    </article>
    {% endfor %}
  </div>
  <div class="frontpage-links">
    {% assign links = site.links | limit:10 %}
    {% for post in links %}
    <article>
      {{post.excerpt}}
      <a style="display:inline" href="{{ post.url }}">#</a>
    </article>
    {% endfor %}
  </div>
</main>
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}">
    Newer Entries
  </a>
  {% endif %}

  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next">Older Entries</a>
  {% endif %}
</div>