<footer>
  <!-- footer top -->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3">
          <h3>About me</h3>
          <p>Software developer manager working at travelocity</p>
        </section>
      </div>
    </div>
  </div>
  <!-- /footer top -->

  <!-- footer bottom -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
          © Copyright 2013 by <a href="">Mariano Wahlmann</a>. All Rights Reserved.
        </div>
        <!-- Share icons -->
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
          <div class="pull-right">
            <ul class="social-networks">
              <li class="twitter"><a href="http://twitter.com/mwahlmann" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li class="linkedin" ><a href="http://www.linkedin.com/pub/mariano-wahlmann/8/379/4a9" data-toggle="tooltip" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
              <li class="github"><a href="http://github.com/bluescreen10" data-toggle="tooltip" title="github"><i class="fa fa-github-alt"></i></a></li>
              <li class="rss"><a href="/atom.xml" data-toggle="tooltip" title="rss"><i class="fa fa-rss"></i></a></li>
              <li class="email"><a href="mailto:mariano.wahlmann_at_gmail.com" data-toggle="tooltip" title="e-mail"><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- /Share icons -->
      </div>
    </div>
  </div>
  <!-- /footer bottom -->

</footer>

