<header>
  <div class="content">
    <!-- avatar -->
    <img src="/images/avatar_50x50.png" id="avatar" />
    <!-- title -->
    <h1>
      <a href="{{ site.url }}" rel="home bookmark">{{ site.title }}</a>
    </h1>

    <!-- description -->
    <div id="separator"></div>
    <div class="description"> {{ site.description }} </div>

    <!-- search box -->
    <div class="search">
      <form id="cse-search-box" action="http://www.google.com/cse">
        <input type="hidden" value="005155178993338504560:zqwe9ghwlrm" name="cx" />
        <input type="hidden" value="UTF-8" name="ie" />
        <input id="q" type="text" name="q" />
      </form>
    </div>

    <!-- navbar -->
  </div>     
</header>
