<header>
  <div class="cover-top">
    <div class="container">
      <div class="col-lg-offset-2 col-md-offset-2">
        <a href="/"><i class="fa fa-home"></i></a>
        <quot>{{ site.description }}</quot>
      </div>
    </div>
  </div>
  <div class="hero-unit cover">
    <div class="container">
      <div class="col-lg-offset-2 col-md-offset-2">
        <h1>{{ site.author }}</h1>

        <!-- short bio -->
        <ul class="bio">
          <li><span>Manager and Software Engineer</span></li>
          <li><span>Open Source Contributor</span></li>
          <li><span>Technologist</span></li>
        </ul>
        <!-- /short bio -->

        <!-- contact -->
        <ul class="social-networks">
          <li class="twitter"><a href="{{ site.twitter }}" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li class="linkedin" ><a href="{{ site.linkedin }}" data-toggle="tooltip" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
          <li class="github"><a href="{{ site.github }}" data-toggle="tooltip" title="github"><i class="fa fa-github-alt"></i></a></li>
          <li class="rss"><a href="/atom.xml" data-toggle="tooltip" title="rss"><i class="fa fa-rss"></i></a></li>
          <li class="email"><a href="{{ site.email }}" data-toggle="tooltip" title="e-mail"><i class="fa fa-envelope"></i></a></li>
        </ul>
        <!-- /contact -->
      </div>
    </div>
  </div>
</header>
