body {
  font-family: 'Times New Roman', serif;
  max-width: 40rem;
  color: #18181b;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0 auto;
  background-color: #fafafa;
}


h1 {
  font-size: 2em;
  line-height: 1em;
  font-family: 'Arial', sans-serif;
  margin:0;
}

h2 {
  font-size: 1.5em;
  line-height: 1em;
  font-family: 'Arial', sans-serif;
  margin: 0;
}

h3 {
  font-size: 1em;
  line-height: 1em;
  font-family: 'Arial', sans-serif;
  margin: 0;
}

pre, code {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: -0.1rem;
}

.center {
  text-align: center;
}

/* p {
  margin-top: 2em;
} */

pre {
  font-size: 0.875rem;
  overflow: scroll;
}

blockquote {
  border-left: solid #cf9bb1;
  margin-left: 0;
  padding-left: 1.5em;
  font-style: italic;
}

article {
  padding: 1em;
  border: 1px solid #a3a3a3;
  margin-bottom: 2em;
  background-color: white;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.decoration-none {
  text-decoration: none;
  color: #1e293b;
}

.date {
  font-family: 'Arial', sans-serif;
  font-size: 0.75em;
  line-height: 1em;
  text-align: center;
  color: #a3a3a3;
  font-family: 'Trebuchet MS', 'Arial', sans-serif;
}

.mt {
  margin-top: 1em;
}

.mt-0 {
  margin-top: 0;
}

.mb {
  margin-bottom: 1em;
}

.mb-1 {
  margin-bottom: 0.5em;
}

.mb-0 {
  margin-bottom: 0;
}

.button {
  border: 1px solid #a3a3a3;
  border-radius: 1000px;
  padding: 0.5em .75em;
  font-size: 0.75em;
  color: #a3a3a3;
  font-family: 'Arial', sans-serif;
  text-decoration: none;
}

.author {
  margin-top: 2em;
  margin-bottom: 2em;
  display: block;
  text-decoration: none;
}

.author-image {
  width: 50px;
  height: 50px;
  margin: 0;
  display: inline-block;
  filter: grayscale(100%);
  border-radius: 1000px;
}

.author-title {
  font-size: .75em;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin:0;
  color: #a3a3a3;
}

.footnote {
  color: #737373;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  font-family: 'Arial', sans-serif;
}

.mastfoot { 
  display:none !important;
}

.inline-container {
  font-size: 1rem !important;
}

.inline-container #field_0 {
  border-top-left-radius: 1000px !important;
  border-bottom-left-radius: 1000px !important;
  margin-right: 0 !important;
  border-right: 0 !important;
}

.inline-container .btn {
  margin-left: 0 !important;
  margin-right: 0 !important;
  border: 1px solid #a3a3a3;
  border-top-right-radius: 1000px !important;
  border-bottom-right-radius: 1000px !important;
}

.main-form .emailoctopus-form-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}