:root {
  color-scheme: light dark;
  --text-color: light-dark(#15171a, #f3f4f6);
  --secondary-text-color: light-dark(#9ca3af, #4b5563);
  --bg-color: light-dark(#fff, #020617);
  --border-color: light-dark(#e5e7eb, #475569);
  --accent-color: light-dark(#1e3a8a, #3b82f6);
  --default-font: system-ui, sans-serif;
  --monospace-font: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --title-font: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  --font-size: 18px;
  --small-font-size: 16px;
  --big-font-size: 30px;
  --monospace-font-size: 1rem;
  --monospace-line-height: 1.25rem;
  --line-height: 1.6;
  --list-spacing: 0.75rem;
  --body-max-width: 860px;
  --content-max-width: 720px;
}

body {
  overflow-wrap: break-word;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-size-adjust: 0.5;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--default-font);
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  max-width: var(--body-max-width);
  margin: auto;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.brand {
  display: flex;
  flex-direction: row;
  margin: auto;
  place-items: center;
  align-items: end;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.logo {
  height: fit-content;
  width: fit-content;
}

.site-info {
  line-height: 1.2em;
  display: flex;
  flex-direction: column;
}

.site-title {
  font-family: var(--monospace-font);
  font-size: var(--big-font-size);
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  margin: 0;
}

.site-description {
  margin: 0;
  font-size: var(--small-font-size);
  text-transform: lowercase;
  color: var(--secondary-text-color);
}


section,
.pagination,
nav {
  max-width: var(--content-max-width);
  margin: auto;
}

section+section,
.pagination {
  padding: 1rem;
}

pre {
  line-height: var(--monospace-line-height);
  font-size: var(--monospace-font-size);
}

code {
  tab-size: 2;
  font-family: var(--monospace);
}

li+li {
  margin-top: var(--list-spacing);
}

h1,
h2 {
  font-family: var(--title-font);
  font-weight: 900;
}

hr {
  border: none;
  border-bottom: 1px solid var(--border-color);
}


a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

nav a {
  font-size: var(--small-font-size);
}

blockquote {
  border-left: 0.25em solid var(--accent-color);
  margin-block-start: 0;
  padding-left: 2em;
  margin-left: 0;
  font-style: italic;
}

.button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  background-color: var(--accent-color);
  color: var(--bg-color);
  background-color: var(--text-color);
  text-decoration: none;
}

.button:hover {
  color: var(--bg-color);
}

.footnotes {
  font-size: var(--small-font-size);
  margin-top: 2rem;
  border-top: 1px solid var(--border-color);
}

.metadata {
  font-size: var(--small-font-size);
  color: var(--secondary-text-color);
}