<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/default.css">
  </head>
  <body>

    <!-- header -->

    <!-- /hedaer -->

    <!-- content -->
    <div class="container">
      <div class="row">
        <!-- main -->
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
          {{ content }}
        </div>
        <!-- /main -->

        <!-- side bar -->
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-0">

          <!-- search box -->
          <div class="search-box">
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-custom" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
          <!-- searchbox -->

          <!-- categories -->
          <section class="side-box">
            <h3 class="title">Categories</h3>
            <ul class="list">
              <li><a>Programming</a></li>
              <li><a>Perl</a></li>
              <li><a>Agile</a></li>
              <li><a>Engineering</a></li>
              <li><a>Management</a></li>
            </ul>
          </section>
          <!-- categories -->

          <!-- archive -->
          <section class="side-box">
            <h3>Archive</h3>
            <ul class="list">
              <li><a>February 2013</a></li>
              <li><a>June 2012</a></li>
              <li><a>March 2012</a></li>
            </ul>
          </section>
          <!-- /archive -->
    
        </div>
        <!-- /side bar -->      

      </div>
      <!-- /row -->

    </div>
    <!-- content -->


    <!-- footer -->

    <!-- /footer -->

    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


  </body>
</html>
