<!doctype html>

<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="{{ site.authour }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ site.url }}/feed" rel="alternate" title="fprintf.org RSS" />
    <link href="http://fprintf.org/" rel="home" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Yanone+Kaffeesatz|Neucha|Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/master.css" />
    <link rel="stylesheet" href="/css/emacs.css" />
    <title>{{ site.title }} | {{ page.title }}</title>
  </head>

  <body>
    <div class="container">
      {% include header.html %}

      <div class="content">
        <div class="main">
          {{ content }}
        </div>
        <div class="sidebar">
          <div class="sidebarbox">
            <h4>Pages</h4>
            <ul id="Pages">
              <li>
                <a rel="bookmark" title="Blog" href="{{ site.url}}">Blog</a>
              </li>
              <li>
                <a rel="bookmark" title="About" href="{{ site.url}}/about.html">About</a>
              </li>
            </ul>
          </div>
          <div class="sidebarbox">
            <h4>Subscribe</h4>
            <ul>
              <li>
                <a tilte="RSS Feed" href="{{ site.url }}/feed" class="icon-link" id="feed-link">RSS</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      

      <footer class="span-21 last" id="footer">
      </footer>
    </div>
    {% include disqus.html %}
    {% include google_analytics.html %}
  </body>
</html>
