---
layout: default
---

<main>
    <section>
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
        <h2>{{ page.subtitle}}</h2>
        {% endif %}

        <div class="metadata">
            <span>
                {{ page.date | date_to_string: "ordinal", "US" }}
            </span>
            <span>&#x2022;</span>
            <span>
                {% assign words = content | strip_html | number_of_words %}
                {% if words < 360 %} 1 min {% else %} {{ words | divided_by:180 }} mins {% endif %} </span>
        </div>
        {{ content }}
    </section>
</main>