<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }} | {{ page.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/monokai.css" rel="stylesheet" type="text/css">
    <link href="/css/default.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <!-- header -->
    {% include header.html %}
    <!-- /hedaer -->

    <!-- content -->
    <div class="container">
      <div class="row">

        <!-- main -->
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
          <article>
            <header class="post-meta">
              <h3>{{ page.title }}</h3>
              <ul>
                <li><i class="fa fa-clock-o"></i>{{ page.date | date: "%B %d, %Y" }}</li>
                <li><i class="fa fa-tags"></i>
                  {% for category in page.categories %}
                  <a href="/tags/{{ category }}.html">{{ category | replace:'_', ' ' | capitalize }}</a>
                  {% if forloop.last == false %},{% endif %}
                  {% endfor %}</li>
                <li><i class="fa fa-comments"></i><a href="{{ site.url }}{{ page.url }}#disqus_thread">comments</a></li>
              </ul>
            </header>
            <div class="content">
              {{ content }}
            </div>
            <footer>
              <div id="disqus_thread"></div>
            </footer>
          </article>
        </div>
        <!-- /main -->

        <!-- side bar -->
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-0 side-bar">
          
          <!-- search box -->
          {% include search.html %}
          <!-- searchbox -->
          
          <!-- categories -->
          {% include categories.html %}
          <!-- categories -->
          
        </div>
        <!-- /side bar -->      
        
      </div>
    </div>

    <!-- footer -->
    {% include footer.html %}
    <!-- /footer -->

    <script src="/js/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- disqus -->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'fprintforg'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    <!-- disqus -->

    {% include disqus.html %}
    {% include google_analytics.html %}
  </body>
</html>
